In [136]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter

In [137]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

        imdb_id     budget    revenue  ... release_date vote_average release_year
1792  tt0455760   20000000   22217407  ...    3/16/2007          6.2         2007
99    tt2515034   40000000   10664749  ...    2/16/2015          5.6         2015
1085  tt0242653  150000000  424988211  ...    11/5/2003          6.4         2003
215   tt2103254   20000000  100525432  ...     7/2/2014          5.1         2014
1761  tt0419843   10000000   17500000  ...    4/16/2007          6.0         2007

[5 rows x 14 columns]

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [171]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
def convert(date_time):
    format = "%m/%d/%Y"
    datetime_str = datetime.datetime.strptime(date_time, format)
    return datetime_str


# Заметим, что в столбце budget некоторые значения типа int, а некоторые - float.
# Поменяем все на int
data.budget = data.budget.astype('int')
#print(data.budget)

# Создадим столбец profit (profit = revenue - budget)
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [172]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'

# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'   # +
# если ответили верно, можете добавить комментарий со значком "+"

In [173]:
# тут пишем ваш код для решения данного вопроса:
data2 = data.copy()
data2.sort_values('budget', ascending = 'True')

        imdb_id     budget     revenue  ... vote_average release_year      profit
885   tt0283111    5000000    38275483  ...          5.9         2002    33275483
1173  tt0335563    5000000     2466444  ...          6.4         2003    -2533556
277   tt1182345    5000000     9760104  ...          7.4         2009     4760104
1817  tt0249462    5000000   110000000  ...          7.1         2000   105000000
805   tt1772240    5000000    25562924  ...          4.9         2011    20562924
...         ...        ...         ...  ...          ...          ...         ...
1014  tt0401729  260000000   284139100  ...          6.0         2012    24139100
380   tt0398286  260000000   591794936  ...          7.3         2010   331794936
14    tt2395427  280000000  1405035767  ...          7.4         2015  1125035767
1669  tt0449088  300000000   961000000  ...          6.8         2007   661000000
723   tt1298650  380000000  1021683000  ...          6.3         2011   641683000

[1889 rows x 15 columns]

ВАРИАНТ 2

In [174]:
# можно добавлять разные варианты решения
data[data2.budget == data.budget.max()]

       imdb_id     budget     revenue  ... vote_average release_year     profit
723  tt1298650  380000000  1021683000  ...          6.3         2011  641683000

[1 rows x 15 columns]

# 2. Какой из фильмов самый длительный (в минутах)?

In [175]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [8]:
data3 = data.copy()
data3.sort_values('runtime', ascending = False).head(3)

        imdb_id    budget     revenue  ... vote_average release_year      profit
1157  tt0279111  56000000    12923936  ...          5.8         2003   -43076064
1081  tt0167260  94000000  1118888979  ...          7.9         2003  1024888979
1736  tt0462322  67000000    25037897  ...          6.5         2007   -41962103

[3 rows x 15 columns]

# 3. Какой из фильмов самый короткий (в минутах)?

In [176]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data4 = data.copy()
data4.sort_values('runtime', ascending = True).head(3)

        imdb_id    budget    revenue        original_title  ... release_date vote_average release_year     profit
768   tt1449283  30000000   14460000       Winnie the Pooh  ...    4/13/2011          6.8         2011  -15540000
930   tt0280030  20000000  109862682  Return to Never Land  ...    2/14/2002          6.2         2002   89862682
1097  tt0283426  20000000  135680000     The Jungle Book 2  ...     2/7/2003          5.6         2003  115680000

[3 rows x 15 columns]

# 4. Какова средняя длительность фильмов?

In [177]:
answers['4'] = '2. 110'
mean_value = data['runtime'].mean()
print(round(mean_value))

110

# 5. Каково медианное значение длительности фильмов?

In [178]:
answers['5'] = '1. 107'
median_value = data['runtime'].median()
print(round(median_value))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [179]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
data5 = data.copy()
data5.sort_values('profit', ascending = False).head(1)

       imdb_id     budget     revenue original_title  ... release_date vote_average release_year      profit
239  tt0499549  237000000  2781505847         Avatar  ...   12/10/2009          7.1         2009  2544505847

[1 rows x 15 columns]

# 7. Какой фильм самый убыточный?

In [180]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
data5 = data.copy()
data5.sort_values('profit', ascending = True).head(1)

        imdb_id     budget   revenue   original_title  ... release_date vote_average release_year     profit
1245  tt1210819  255000000  89289910  The Lone Ranger  ...     7/3/2013          6.0         2013 -165710090

[1 rows x 15 columns]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [181]:
answers['8'] = '1. 1478'
data5[data5.revenue > data5.budget].count().head(1)

imdb_id    1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [182]:
answers['9'] = '4. The Dark Knight (tt0468569)'
data5[data5.release_year == 2008].sort_values('revenue', ascending = False).head(1)

       imdb_id     budget     revenue   original_title  ... release_date vote_average release_year     profit
599  tt0468569  185000000  1001921825  The Dark Knight  ...    7/16/2008          8.1         2008  816921825

[1 rows x 15 columns]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [183]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
data5[(data5.release_year == 2012)|(data5.release_year == 2013)|(data5.release_year == 2014)].sort_values('profit', ascending = True).head(1)

        imdb_id     budget   revenue   original_title  ... release_date vote_average release_year     profit
1245  tt1210819  255000000  89289910  The Lone Ranger  ...     7/3/2013          6.0         2013 -165710090

[1 rows x 15 columns]

# 11. Какого жанра фильмов больше всего?

In [184]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'
collections.Counter(data5.genres.str.cat(sep = '|').split('|')).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [185]:
answers['12'] = '1. Drama'
data_genres = data.copy()
data_genres = data_genres[data_genres.profit > 0]
collections.Counter(data_genres.genres.str.cat(sep = '|').split('|')).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [186]:
answers['13'] = '5. Peter Jackson'
data_director = data.copy()
data_director.director.str.cat(sep = '|').split('|')
data_director.groupby(['director'])['revenue'].apply(sum).sort_values(ascending = False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [187]:
answers['14'] = '3. Robert Rodriguez'
import collections
data_action = data[data.genres.str.contains('Action', na = False)]
collections.Counter(data_action.director.str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [188]:
answers['15'] = '3. Chris Hemsworth'
data_actor = data.copy()
data_actor = data_actor.query('release_year == 2012')
data_actor.cast = data_actor.cast.apply(lambda x: x.split('|'))
data_actor = data_actor.explode('cast')
data_actor.groupby('cast')['revenue'].apply(sum).sort_values(ascending = False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [189]:
answers['16'] = '3. Matt Damon'
data7 = data.copy()
data7 = data7[data7.budget > data7.budget.mean()]
collections.Counter(data7.cast.str.cat(sep = '|').split('|')).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [190]:
answers['17'] = '2. Action'
data8 = data.copy()
data8 = data[data.cast.str.contains('Nicolas Cage')]
collections.Counter(data8.genres.str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [191]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
data9 = data.copy()
data9 = data[data.production_companies.str.contains('Paramount Pictures')]
data9.sort_values('profit', ascending = True).head(1)

       imdb_id     budget   revenue        original_title  ... release_date vote_average release_year    profit
925  tt0267626  100000000  35168966  K-19: The Widowmaker  ...    7/19/2002          6.0         2002 -64831034

[1 rows x 15 columns]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [192]:
answers['19'] = '5. 2015'
data10 = data.copy()
data10.groupby('release_year')['revenue'].apply(sum).sort_values(ascending = False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [193]:
answers['20'] = '1. 2014'
data11 = data.copy()
data11 = data[data.production_companies.str.contains('Warner Bros')]
data11.groupby('release_year')['profit'].apply(sum).sort_values(ascending = False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [194]:
answers['21'] = '4. Сентябрь'
data12 = data.copy()
data12.release_date = data12.release_date.apply(lambda x: x.split('/'))
data12['month_release'] = data12.release_date.apply(lambda x: x[0])
data12.month_release.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month_release, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [195]:
answers['22'] = '2. 450'
data13 = data.copy()
data13.release_date = data13.release_date.apply(lambda x: x.split('/'))
data13['month_release'] = data13.release_date.apply(lambda x: x[0])
data13 = data13[(data13.month_release == '6')| (data13.month_release == '7')| (data13.month_release == '8')]
data13.imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [196]:
answers['23'] = '5. Peter Jackson'
data14 = data.copy()
data14.release_date = data14.release_date.apply(lambda x: x.split('/'))
data14['month_release'] = data14.release_date.apply(lambda x: x[0])
data14 = data14[(data14.month_release == '12')| (data14.month_release == '1')| (data14.month_release == '2')]
collections.Counter(data14.director.str.cat(sep = '|').split('|')).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [197]:
answers['24'] = '5. Four By Two Productions(в тесте допустила ошибку, указав Warner Bros)'
data_titles = data.copy()
data_titles['len_titles'] = data_titles['original_title'].apply(lambda x: len(x))
data_titles.production_companies = data_titles.production_companies.apply(lambda x: x.split('|'))
data_titles =  data_titles.explode('production_companies')
data_titles.groupby(['production_companies'])['len_titles'].agg(max).sort_values(ascending = False).head(1)

production_companies
Four By Two Productions    83
Name: len_titles, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [198]:
answers['25'] = '3. Midnight Picture Show'
data_descr = data.copy()
data_descr.production_companies = data_descr.production_companies.apply(lambda x: x.split('|'))
data_descr['len_descr'] = data_descr['overview'].apply(lambda x: len(x))
data_descr = data_descr.explode('production_companies')
data_descr = data_descr.query('len_descr > len_descr.mean()')
data_descr.sort_values('len_descr', ascending =  False).head(1)

       imdb_id    budget  revenue           original_title  ... vote_average release_year    profit len_descr
711  tt0805570  15000000  3533227  The Midnight Meat Train  ...          5.7         2008 -11466773      1000

[1 rows x 16 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [199]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
data_vote_average = data.copy()
data_vote_average['vote_average'].value_counts(bins = 100).index.max()
data_vote_average[data_vote_average.vote_average >= 8]

       imdb_id     budget     revenue      original_title  ... release_date vote_average release_year     profit
9    tt2096673  175000000   853708609          Inside Out  ...     6/9/2015          8.0         2015  678708609
34   tt3170832    6000000    35401758                Room  ...   10/16/2015          8.0         2015   29401758
118  tt0816692  165000000   621752480        Interstellar  ...    11/5/2014          8.0         2014  456752480
125  tt2084970   14000000   233555708  The Imitation Game  ...   11/14/2014          8.0         2014  219555708
599  tt0468569  185000000  1001921825     The Dark Knight  ...    7/16/2008          8.1         2008  816921825

[5 rows x 15 columns]

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [200]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
import itertools
data15 = data.copy()
lst = []
final = []
data15['cast_l'] = data['cast'].apply(lambda x: x.split('|'))
series = data15.explode('cast_l').reset_index()
for i in range(len(data15.cast_l)):
    pairs = list(itertools.combinations(data15.cast_l.iloc[i],2))
    lst.append(pairs)
    for pair_lst in lst:
        for pair in pair_lst:
            final.append(pair)

couple = pd.Series(Counter(final))
couple.sort_values(ascending = False)

Daniel Radcliffe  Emma Watson       7871
                  Rupert Grint      7871
Ben Stiller       Owen Wilson       6570
Kristen Stewart   Taylor Lautner    6409
Robert Pattinson  Taylor Lautner    6409
                                    ...
Lori Heuring      Matthew Settle       1
                  Nathan Bexton        1
                  Tess Harper          1
Matthew Settle    Nathan Bexton        1
Nathan Bexton     Tess Harper          1
Length: 18121, dtype: int64

ВАРИАНТ 2

# Submission

In [201]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions(в тесте допустила ошибку, указав Warner Bros)',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [202]:
# и убедиться что ни чего не пропустил)
len(answers)

27